$font-title: "Anton", sans-serif;
$font-text: "Lato", sans-serif;

$color-blue-dark: rgb(3, 38, 82);
$color-blue-cta: rgb(0, 84, 166);
$color-blue-light: #1d8fd6;
$color-white: white;
$color-black: black;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
