@use "../abstracts" as *;

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: $font-text;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/topography.svg"), linear-gradient(to right, rgba(3, 38, 82, 0.94), $color-blue-light);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
